@import "tailwindcss";

/* 1. Definição das variáveis de tema para Light (Padrão) e Dark Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --aw-green: #00b445;
  --aw-dark: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-aw-green: var(--aw-green);
  --color-aw-dark: var(--aw-dark);

  --font-sans: "Arial", "Helvetica", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}